<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div th:insert="~{fragment :: header}"></div>

<form th:action="@{/users/{userId}/update(userId=${user.id})}" enctype="multipart/form-data" method="post"
      th:object="${user}">
    <label for="username">Username:
        <input id="username" type="text" name="username" th:value="*{username}">
    </label><br>
    <label for="firstName">FirstName:
        <input id="firstName" type="text" name="firstName" th:value="*{firstName}">
    </label><br>
    <label for="secondName">SecondName:
        <input id="secondName" type="text" name="secondName" th:value="*{secondName}">
    </label><br>
    <label for="email">Email:
        <input id="email" type="text" name="email" th:value="*{email}">
    </label><br>
    <div th:if="${user.image}">
        <img th:src="@{/api/v1/users/{userId}/avatar(userId=${user.id})}" alt="User image">
    </div>
    <br>
    <p2>Subscriptions:</p2>
    <div th:each="subscription : ${subscriptions}">
        <input th:id="${subscription}" type="radio" name="subscriptionName" th:value="${subscription.name()}"
               th:checked="${subscription.name() == user.subscription.type.name()}"/>
        <label th:for="${subscription}" th:text="${subscription.name()}">Subscription</label>
    </div>
    <br>
    <p2>Feedbacks:</p2>
    <div th:each="feedback : ${user.feedbacks}">
        <input type="text" name="feedback" th:value="${feedback.getComment()}"/>
        <br>
    </div>
    <br>
    <label for="image">Image:
        <input id="image" type="file" name="image">
    </label><br>

    <button type="submit">Update</button>
</form>
<br>
<form th:action="@{/users/{userId}/delete(userId=${user.id})}" method="post">
    <button type="submit">Remove</button>
</form>
<div th:if="${errors}">
    <p style="color: red" th:each="error: ${errors}" th:text="${error.defaultMessage}">ErrorMessage</p>
</div>
</body>
</html>